@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@100&family=Phudu:wght@300&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body CSS Styling Code */

body{
    font-family: 'Labrada', serif;
    font-family: 'Phudu', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Container CSS Styling Code */

.container{
    display: flex;
}

.__left-drawver{
    width: 15%;
    position: fixed;
    height: 100vh; 
    background-color: skyblue;
}

._plates{
    padding: 20px;
}

.active{
    background-color: white;
}

._plates a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Main CSS Styling Code */

.main{
    /* background: rgb(156, 218, 219); */
    width: 80%;
    padding: 30px;
    margin-left: 220px;
    position: relative;
    border-radius: 20px;
    margin-top: 10px;
}

._header_section{
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid red;
    margin-bottom: 30px;
    background-color: yellow;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

._main_content_container{
    font-weight: bold;
}

.margin-need{
    padding: 20px;
}

.myTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.myTable th{
    background-color: skyblue;
}

._content_width{
    max-width: 90%;
    width: 60%;
}

.footer{
    background-color: #545454;
    color: white;
}

.footer footer p{
    text-align: center;
}

.buttons-tray button{
    width: 105px;
    height: 40px;
    background-color: skyblue;
    color: black;
    font-weight: bolder;
    border-radius: 12px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.buttons-tray button:hover{
    background-color: aqua;
    color: black;
}